<%- include("partials/header") %>

  <div class="content-border">
    <div class="merch-page">
      <h1 class="page-title">MERCH (COMING SOON)</h1>
      <div>
        <p>Meticulous and unique designs, on high quality garments. Add some OSSIA merch to your collection and turn
          heads when you wear our unique abstract designs. Free shipping within the UK.</p>
      </div>
      <div class="tshirts-hoodies">
        <% if (locals.commonItem) { %>
          <% commonItem.forEach(item=> { %>
        <div class="card item-<%-item.itemNumber%>">
          <img src="Images/merch images/OS00<%-item.itemNumber%> T-shirt Back.jpg" class="card-image"></img>
          <div class="card-info"><strong>OS00<%-item.itemNumber%> T-shirt</strong> - £25</div>
          <div class="basket-button">Add to basket</div>
          <!-- <div class="basket-button" style="color: red;">Coming Soon</div> -->
        </div>
        <% }); %>
        <% } %>
      </div>
    </div>
  <!-- </div> -->
  <!-- Continuing to footer for "subscribe-section" -->

  <%- include("partials/footer") %>